DOMAIN-KEYWORD,1069,TUN
DOMAIN-KEYWORD,blogspot.,TUN
DOMAIN-KEYWORD,buzzfeed.,TUN
DOMAIN-KEYWORD,cdn.byteeffecttos-g.com,TUN
DOMAIN-KEYWORD,facebook.,TUN
DOMAIN-KEYWORD,gay,TUN
DOMAIN-KEYWORD,google.,TUN
DOMAIN-KEYWORD,netflix.,TUN
DOMAIN-KEYWORD,nflx,TUN
DOMAIN-KEYWORD,opgg-static.,TUN
DOMAIN-KEYWORD,pinterest.,TUN
DOMAIN-KEYWORD,porn,TUN
DOMAIN-KEYWORD,tiktok,TUN
DOMAIN-KEYWORD,wikihow.,TUN
DOMAIN-KEYWORD,yahoo.,TUN
DOMAIN-KEYWORD,youtube.,TUN
DOMAIN-SUFFIX,1024tera.com,TUN
DOMAIN-SUFFIX,1drv.com,TUN
DOMAIN-SUFFIX,1point3acres.com,TUN
DOMAIN-SUFFIX,4fun.video,TUN
DOMAIN-SUFFIX,512pixels.net,TUN
DOMAIN-SUFFIX,91mjw.tv,TUN
DOMAIN-SUFFIX,9cache.com,TUN
DOMAIN-SUFFIX,9gag.com,TUN
DOMAIN-SUFFIX,9to5mac.com,TUN
DOMAIN-SUFFIX,abc.net.au,TUN
DOMAIN-SUFFIX,abc.xyz,TUN
DOMAIN-SUFFIX,adarutogeisaito.com,TUN
DOMAIN-SUFFIX,addtodropbox.com,TUN
DOMAIN-SUFFIX,adultdigitaldownloads.com,TUN
DOMAIN-SUFFIX,adultempire.com,TUN
DOMAIN-SUFFIX,aebn.com,TUN
DOMAIN-SUFFIX,aebn.net,TUN
DOMAIN-SUFFIX,affine.pro,TUN
DOMAIN-SUFFIX,affineassets.com,TUN
DOMAIN-SUFFIX,agdsn.de,TUN
DOMAIN-SUFFIX,ahcdn.com,TUN
DOMAIN-SUFFIX,ajax.aspnetcdn.com,TUN
DOMAIN-SUFFIX,akamai.com,TUN
DOMAIN-SUFFIX,amazon.co.jp,TUN
DOMAIN-SUFFIX,ampproject.org,TUN
DOMAIN-SUFFIX,android.com,TUN
DOMAIN-SUFFIX,anonfiles.com,TUN
DOMAIN-SUFFIX,anthropic.com,TUN
DOMAIN-SUFFIX,api.steampowered.com,TUN
DOMAIN-SUFFIX,api.themoviedb.org,TUN
DOMAIN-SUFFIX,apkpure.com,TUN
DOMAIN-SUFFIX,apphousekitchen.com,TUN
DOMAIN-SUFFIX,apple-relay.mask.apple-dns.net,TUN
DOMAIN-SUFFIX,apple.news,TUN
DOMAIN-SUFFIX,appledaily.com,TUN
DOMAIN-SUFFIX,appleslides.com,TUN
DOMAIN-SUFFIX,appspot.com,TUN
DOMAIN-SUFFIX,archive.md,TUN
DOMAIN-SUFFIX,archive.org,TUN
DOMAIN-SUFFIX,archive.ph,TUN
DOMAIN-SUFFIX,archiveofourown.org,TUN
DOMAIN-SUFFIX,arkoselabs.com,TUN
DOMAIN-SUFFIX,artstation.com,TUN
DOMAIN-SUFFIX,arxiv.org,TUN
DOMAIN-SUFFIX,asahilinux.org,TUN
DOMAIN-SUFFIX,austrian.com,TUN
DOMAIN-SUFFIX,auth0.com,TUN
DOMAIN-SUFFIX,avast.com,TUN
DOMAIN-SUFFIX,baas.nintendo.com,TUN
DOMAIN-SUFFIX,back4app.com,TUN
DOMAIN-SUFFIX,backchina.com,TUN
DOMAIN-SUFFIX,bad.news,TUN
DOMAIN-SUFFIX,bahamut.com.tw,TUN
DOMAIN-SUFFIX,bandwagonhost.com,TUN
DOMAIN-SUFFIX,bangdream.space,TUN
DOMAIN-SUFFIX,baramangaonline.com,TUN
DOMAIN-SUFFIX,barebones.com,TUN
DOMAIN-SUFFIX,bbc.co.uk,TUN
DOMAIN-SUFFIX,bbc.com,TUN
DOMAIN-SUFFIX,bbc.gscontxt.net,TUN
DOMAIN-SUFFIX,bbc.in,TUN
DOMAIN-SUFFIX,bbci.co.uk,TUN
DOMAIN-SUFFIX,bcbay.com,TUN
DOMAIN-SUFFIX,beardproject.com,TUN
DOMAIN-SUFFIX,bearx.net,TUN
DOMAIN-SUFFIX,beeimg.com,TUN
DOMAIN-SUFFIX,behance.net,TUN
DOMAIN-SUFFIX,bit.ly,TUN
DOMAIN-SUFFIX,bitdefender.com,TUN
DOMAIN-SUFFIX,blackhat.com,TUN
DOMAIN-SUFFIX,blackisbig.com,TUN
DOMAIN-SUFFIX,blog.dll.nu,TUN
DOMAIN-SUFFIX,blogblog.com,TUN
DOMAIN-SUFFIX,blogger.com,TUN
DOMAIN-SUFFIX,bloomberg.com,TUN
DOMAIN-SUFFIX,blsslovakiavisa.com,TUN
DOMAIN-SUFFIX,blubrry.com,TUN
DOMAIN-SUFFIX,blz-contentstack-images.akamaized.net,TUN
DOMAIN-SUFFIX,bmp.ovh,TUN
DOMAIN-SUFFIX,bnbstatic.com,TUN
DOMAIN-SUFFIX,bnetaccount.akamaized.net,TUN
DOMAIN-SUFFIX,books.com.tw,TUN
DOMAIN-SUFFIX,booksmaru.com,TUN
DOMAIN-SUFFIX,boomio-cdn.com,TUN
DOMAIN-SUFFIX,bootstrapcdn.com,TUN
DOMAIN-SUFFIX,boy104.com,TUN
DOMAIN-SUFFIX,boyfriend.show,TUN
DOMAIN-SUFFIX,boyfriend.tv,TUN
DOMAIN-SUFFIX,boyfriendtv.com,TUN
DOMAIN-SUFFIX,bpro.tv,TUN
DOMAIN-SUFFIX,brandchannel.com,TUN
DOMAIN-SUFFIX,brave.com,TUN
DOMAIN-SUFFIX,bravo-japan.com,TUN
DOMAIN-SUFFIX,brew.sh,TUN
DOMAIN-SUFFIX,broadcom.com,TUN
DOMAIN-SUFFIX,bsky.app,TUN
DOMAIN-SUFFIX,bsky.network,TUN
DOMAIN-SUFFIX,bsky.social,TUN
DOMAIN-SUFFIX,bwbx.io,TUN
DOMAIN-SUFFIX,bybit.com,TUN
DOMAIN-SUFFIX,bybitglobal.com,TUN
DOMAIN-SUFFIX,byteoversea.com,TUN
DOMAIN-SUFFIX,cantonese.asia,TUN
DOMAIN-SUFFIX,canva.com,TUN
DOMAIN-SUFFIX,capcut.com,TUN
DOMAIN-SUFFIX,capcutapi.com,TUN
DOMAIN-SUFFIX,catbox.moe,TUN
DOMAIN-SUFFIX,ccc.de,TUN
DOMAIN-SUFFIX,cdninstagram.com,TUN
DOMAIN-SUFFIX,cdnjs.cloudflare.com,TUN
DOMAIN-SUFFIX,change.org,TUN
DOMAIN-SUFFIX,chaos.social,TUN
DOMAIN-SUFFIX,charlesproxy.com,TUN
DOMAIN-SUFFIX,charlessoft.com,TUN
DOMAIN-SUFFIX,chat.com,TUN
DOMAIN-SUFFIX,chatgpt.com,TUN
DOMAIN-SUFFIX,chaturbate.com,TUN
DOMAIN-SUFFIX,checkra.in,TUN
DOMAIN-SUFFIX,chinadigitaltimes.net,TUN
DOMAIN-SUFFIX,chipsandcheese.com,TUN
DOMAIN-SUFFIX,chrome,TUN
DOMAIN-SUFFIX,chromium.org,TUN
DOMAIN-SUFFIX,chubold.com,TUN
DOMAIN-SUFFIX,citizenlab.ca,TUN
DOMAIN-SUFFIX,civitai.com,TUN
DOMAIN-SUFFIX,clashverge.dev,TUN
DOMAIN-SUFFIX,claude.ai,TUN
DOMAIN-SUFFIX,claudeusercontent.com,TUN
DOMAIN-SUFFIX,cloudflare-dns.com,TUN
DOMAIN-SUFFIX,cloudfunctions.net,TUN
DOMAIN-SUFFIX,cloudinary.com,TUN
DOMAIN-SUFFIX,clubhouseapi.com,TUN
DOMAIN-SUFFIX,cmcmarkets.com,TUN
DOMAIN-SUFFIX,cmx.im,TUN
DOMAIN-SUFFIX,cnbeta.com.tw,TUN
DOMAIN-SUFFIX,cnn.com,TUN
DOMAIN-SUFFIX,coconut-flavour.com,TUN
DOMAIN-SUFFIX,code.jquery.com,TUN
DOMAIN-SUFFIX,codedump.info,TUN
DOMAIN-SUFFIX,codeweavers.com,TUN
DOMAIN-SUFFIX,colab.dev,TUN
DOMAIN-SUFFIX,concursolutions.com,TUN
DOMAIN-SUFFIX,contentstack.io,TUN
DOMAIN-SUFFIX,cool3c.com,TUN
DOMAIN-SUFFIX,coomer.su,TUN
DOMAIN-SUFFIX,copilot.microsoft.com,TUN
DOMAIN-SUFFIX,corecode.io,TUN
DOMAIN-SUFFIX,coveo.com,TUN
DOMAIN-SUFFIX,creaders.net,TUN
DOMAIN-SUFFIX,crifan.com,TUN
DOMAIN-SUFFIX,d-serv.net,TUN
DOMAIN-SUFFIX,daiichisouko.com,TUN
DOMAIN-SUFFIX,damianxdragon.com,TUN
DOMAIN-SUFFIX,dandanzan.com,TUN
DOMAIN-SUFFIX,daserste.de,TUN
DOMAIN-SUFFIX,dash.ai,TUN
DOMAIN-SUFFIX,daum.net,TUN
DOMAIN-SUFFIX,daumcdn.net,TUN
DOMAIN-SUFFIX,db.tt,TUN
DOMAIN-SUFFIX,deepl.com,TUN
DOMAIN-SUFFIX,dickbank.com,TUN
DOMAIN-SUFFIX,dictionary.com,TUN
DOMAIN-SUFFIX,digikam.org,TUN
DOMAIN-SUFFIX,digitaloceanspaces.com,TUN
DOMAIN-SUFFIX,discord.co,TUN
DOMAIN-SUFFIX,discord.com,TUN
DOMAIN-SUFFIX,discord.gg,TUN
DOMAIN-SUFFIX,discord.media,TUN
DOMAIN-SUFFIX,discordapp.com,TUN
DOMAIN-SUFFIX,discordapp.net,TUN
DOMAIN-SUFFIX,discourse-cdn.com,TUN
DOMAIN-SUFFIX,disq.us,TUN
DOMAIN-SUFFIX,disqus.com,TUN
DOMAIN-SUFFIX,disquscdn.com,TUN
DOMAIN-SUFFIX,diygod.me,TUN
DOMAIN-SUFFIX,dmm.co.jp,TUN
DOMAIN-SUFFIX,dmm.com,TUN
DOMAIN-SUFFIX,docker.com,TUN
DOMAIN-SUFFIX,docsend.com,TUN
DOMAIN-SUFFIX,dood.video,TUN
DOMAIN-SUFFIX,doppiocdn.com,TUN
DOMAIN-SUFFIX,doppiocdn.live,TUN
DOMAIN-SUFFIX,doppiocdn.net,TUN
DOMAIN-SUFFIX,download.ru,TUN
DOMAIN-SUFFIX,downloads.imazing.com,TUN
DOMAIN-SUFFIX,dropbox-dns.com,TUN
DOMAIN-SUFFIX,dropbox.com,TUN
DOMAIN-SUFFIX,dropbox.tech,TUN
DOMAIN-SUFFIX,dropboxapi.com,TUN
DOMAIN-SUFFIX,dropboxbusiness.com,TUN
DOMAIN-SUFFIX,dropboxcaptcha.com,TUN
DOMAIN-SUFFIX,dropboxexperiment.com,TUN
DOMAIN-SUFFIX,dropboxforum.com,TUN
DOMAIN-SUFFIX,dropboxforums.com,TUN
DOMAIN-SUFFIX,dropboxinsiders.com,TUN
DOMAIN-SUFFIX,dropboxlegal.com,TUN
DOMAIN-SUFFIX,dropboxmail.com,TUN
DOMAIN-SUFFIX,dropboxpartners.com,TUN
DOMAIN-SUFFIX,dropboxstatic.com,TUN
DOMAIN-SUFFIX,dropboxteam.com,TUN
DOMAIN-SUFFIX,dropboxusercontent.com,TUN
DOMAIN-SUFFIX,dsxys.pro,TUN
DOMAIN-SUFFIX,dtrace.org,TUN
DOMAIN-SUFFIX,duck.com,TUN
DOMAIN-SUFFIX,duckdns.org,TUN
DOMAIN-SUFFIX,duckduckgo.com,TUN
DOMAIN-SUFFIX,duden.de,TUN
DOMAIN-SUFFIX,duga.jp,TUN
DOMAIN-SUFFIX,duolingo.com,TUN
DOMAIN-SUFFIX,duyaoss.com,TUN
DOMAIN-SUFFIX,dw.com,TUN
DOMAIN-SUFFIX,easyanticheat.net,TUN
DOMAIN-SUFFIX,eclecticlight.co,TUN
DOMAIN-SUFFIX,editmysite.com,TUN
DOMAIN-SUFFIX,eileenslounge.com,TUN
DOMAIN-SUFFIX,emojikitchen.dev,TUN
DOMAIN-SUFFIX,engadget.com,TUN
DOMAIN-SUFFIX,epoch.com,TUN
DOMAIN-SUFFIX,epochtimes.com,TUN
DOMAIN-SUFFIX,ero-labs.com,TUN
DOMAIN-SUFFIX,eset.com,TUN
DOMAIN-SUFFIX,esper.io,TUN
DOMAIN-SUFFIX,eth.limo,TUN
DOMAIN-SUFFIX,everysextube.com,TUN
DOMAIN-SUFFIX,ext-twitch.tv,TUN
DOMAIN-SUFFIX,extensis.com,TUN
DOMAIN-SUFFIX,extransfer.xyz,TUN
DOMAIN-SUFFIX,f-secure.com,TUN
DOMAIN-SUFFIX,f-sos.net,TUN
DOMAIN-SUFFIX,factpedia.org,TUN
DOMAIN-SUFFIX,fagalicious.com,TUN
DOMAIN-SUFFIX,falconstudios.com,TUN
DOMAIN-SUFFIX,fanbox.cc,TUN
DOMAIN-SUFFIX,fandom.com,TUN
DOMAIN-SUFFIX,fansone.co,TUN
DOMAIN-SUFFIX,fapnado.com,TUN
DOMAIN-SUFFIX,fastpic.org,TUN
DOMAIN-SUFFIX,fastpic.ru,TUN
DOMAIN-SUFFIX,fatcatsoftware.com,TUN
DOMAIN-SUFFIX,fb.com,TUN
DOMAIN-SUFFIX,fb.gg,TUN
DOMAIN-SUFFIX,fb.me,TUN
DOMAIN-SUFFIX,fbcdn.net,TUN
DOMAIN-SUFFIX,fbsbx.com,TUN
DOMAIN-SUFFIX,fc2.com,TUN
DOMAIN-SUFFIX,fc2blog.us,TUN
DOMAIN-SUFFIX,fc2hub.com,TUN
DOMAIN-SUFFIX,ffx.io,TUN
DOMAIN-SUFFIX,files.pythonhosted.org,TUN
DOMAIN-SUFFIX,filesor.com,TUN
DOMAIN-SUFFIX,filters.adtidy.org,TUN
DOMAIN-SUFFIX,firebaseio.com,TUN
DOMAIN-SUFFIX,firecore.com,TUN
DOMAIN-SUFFIX,flic.kr,TUN
DOMAIN-SUFFIX,flickr.com,TUN
DOMAIN-SUFFIX,fontawesome.com,TUN
DOMAIN-SUFFIX,foobar2000.org,TUN
DOMAIN-SUFFIX,forbes.com,TUN
DOMAIN-SUFFIX,forbesimg.com,TUN
DOMAIN-SUFFIX,fortinet.com,TUN
DOMAIN-SUFFIX,forvo.com,TUN
DOMAIN-SUFFIX,fournoas.com,TUN
DOMAIN-SUFFIX,freewechat.com,TUN
DOMAIN-SUFFIX,freeweibo.com,TUN
DOMAIN-SUFFIX,frostsky.com,TUN
DOMAIN-SUFFIX,fs-collab.com,TUN
DOMAIN-SUFFIX,fsxt.net,TUN
DOMAIN-SUFFIX,ftchinese.com,TUN
DOMAIN-SUFFIX,fw.cm,TUN
DOMAIN-SUFFIX,g-men.co.jp,TUN
DOMAIN-SUFFIX,g.ai,TUN
DOMAIN-SUFFIX,g.co,TUN
DOMAIN-SUFFIX,gameloft.com,TUN
DOMAIN-SUFFIX,gamemale.com,TUN
DOMAIN-SUFFIX,gamer.com.tw,TUN
DOMAIN-SUFFIX,gb-dangun.com,TUN
DOMAIN-SUFFIX,gdude-jp.com,TUN
DOMAIN-SUFFIX,geekbench.com,TUN
DOMAIN-SUFFIX,genius.com,TUN
DOMAIN-SUFFIX,getdropbox.com,TUN
DOMAIN-SUFFIX,getmimo.com,TUN
DOMAIN-SUFFIX,gfw.report,TUN
DOMAIN-SUFFIX,ggpht.com,TUN
DOMAIN-SUFFIX,ghcr.io,TUN
DOMAIN-SUFFIX,giphy.com,TUN
DOMAIN-SUFFIX,git.io,TUN
DOMAIN-SUFFIX,git.sr.ht,TUN
DOMAIN-SUFFIX,gitbook.io,TUN
DOMAIN-SUFFIX,gitbooks.io,TUN
DOMAIN-SUFFIX,githack.com,TUN
DOMAIN-SUFFIX,github.blog,TUN
DOMAIN-SUFFIX,github.com,TUN
DOMAIN-SUFFIX,github.community,TUN
DOMAIN-SUFFIX,github.io,TUN
DOMAIN-SUFFIX,githubassets.com,TUN
DOMAIN-SUFFIX,githubstatus.com,TUN
DOMAIN-SUFFIX,gitlab-static.net,TUN
DOMAIN-SUFFIX,gitlab.com,TUN
DOMAIN-SUFFIX,gitlab.io,TUN
DOMAIN-SUFFIX,gitpress.io,TUN
DOMAIN-SUFFIX,gle,TUN
DOMAIN-SUFFIX,global-heroes.com,TUN
DOMAIN-SUFFIX,gmail.com,TUN
DOMAIN-SUFFIX,go.jp,TUN
DOMAIN-SUFFIX,gog-statics.com,TUN
DOMAIN-SUFFIX,golang.org,TUN
DOMAIN-SUFFIX,goo.gl,TUN
DOMAIN-SUFFIX,goo.gle,TUN
DOMAIN-SUFFIX,good.news,TUN
DOMAIN-SUFFIX,goog,TUN
DOMAIN-SUFFIX,google,TUN
DOMAIN-SUFFIX,googleapis.com,TUN
DOMAIN-SUFFIX,googleblog.com,TUN
DOMAIN-SUFFIX,googlesource.com,TUN
DOMAIN-SUFFIX,googleusercontent.com,TUN
DOMAIN-SUFFIX,googlevideo.com,TUN
DOMAIN-SUFFIX,grammarly.com,TUN
DOMAIN-SUFFIX,grammarly.io,TUN
DOMAIN-SUFFIX,graph.org,TUN
DOMAIN-SUFFIX,gravatar.com,TUN
DOMAIN-SUFFIX,greasyfork.org,TUN
DOMAIN-SUFFIX,greatfire.org,TUN
DOMAIN-SUFFIX,grindr.com,TUN
DOMAIN-SUFFIX,grindr.mobi,TUN
DOMAIN-SUFFIX,grok.com,TUN
DOMAIN-SUFFIX,group-ib.com,TUN
DOMAIN-SUFFIX,gstatic.com,TUN
DOMAIN-SUFFIX,guam.gov,TUN
DOMAIN-SUFFIX,guim.co.uk,TUN
DOMAIN-SUFFIX,gumroad.com,TUN
DOMAIN-SUFFIX,guzzoni.apple.com,TUN
DOMAIN-SUFFIX,gv2.live,TUN
DOMAIN-SUFFIX,gvt1.com,TUN
DOMAIN-SUFFIX,gvt2.com,TUN
DOMAIN-SUFFIX,gvt3.com,TUN
DOMAIN-SUFFIX,hackmd.io,TUN
DOMAIN-SUFFIX,haitu.tv,TUN
DOMAIN-SUFFIX,haiwaikan.com,TUN
DOMAIN-SUFFIX,help.steampowered.com,TUN
DOMAIN-SUFFIX,hex-rays.com,TUN
DOMAIN-SUFFIX,hexacorn.com,TUN
DOMAIN-SUFFIX,heydouga.com,TUN
DOMAIN-SUFFIX,hf.co,TUN
DOMAIN-SUFFIX,hivplusmag.com,TUN
DOMAIN-SUFFIX,hk01.com,TUN
DOMAIN-SUFFIX,hkcnews.com,TUN
DOMAIN-SUFFIX,hket.com,TUN
DOMAIN-SUFFIX,hkmap.live,TUN
DOMAIN-SUFFIX,homo.xxx,TUN
DOMAIN-SUFFIX,hostloc.com,TUN
DOMAIN-SUFFIX,hothouse.com,TUN
DOMAIN-SUFFIX,hotoldermale.com,TUN
DOMAIN-SUFFIX,hoyolab.com,TUN
DOMAIN-SUFFIX,hrw.org,TUN
DOMAIN-SUFFIX,huggingface.co,TUN
DOMAIN-SUFFIX,hunk-ch.com,TUN
DOMAIN-SUFFIX,iboy1069.com,TUN
DOMAIN-SUFFIX,idownloadblog.com,TUN
DOMAIN-SUFFIX,ift.tt,TUN
DOMAIN-SUFFIX,ifvod-tv.com,TUN
DOMAIN-SUFFIX,ifvod.tv,TUN
DOMAIN-SUFFIX,iknowwhatyoudownload.com,TUN
DOMAIN-SUFFIX,imagebam.com,TUN
DOMAIN-SUFFIX,imagevenue.com,TUN
DOMAIN-SUFFIX,imgbox.com,TUN
DOMAIN-SUFFIX,imgchr.com,TUN
DOMAIN-SUFFIX,imgclick.net,TUN
DOMAIN-SUFFIX,imgix.video,TUN
DOMAIN-SUFFIX,imgtp.com,TUN
DOMAIN-SUFFIX,imgur.com,TUN
DOMAIN-SUFFIX,imgur.io,TUN
DOMAIN-SUFFIX,imgxx.link,TUN
DOMAIN-SUFFIX,ingress.com,TUN
DOMAIN-SUFFIX,inoreader.com,TUN
DOMAIN-SUFFIX,instagr.am,TUN
DOMAIN-SUFFIX,instagram.com,TUN
DOMAIN-SUFFIX,instapaper.com,TUN
DOMAIN-SUFFIX,istockphoto.com,TUN
DOMAIN-SUFFIX,itch.io,TUN
DOMAIN-SUFFIX,iterm2.com,TUN
DOMAIN-SUFFIX,ithome.com.tw,TUN
DOMAIN-SUFFIX,iyf.tv,TUN
DOMAIN-SUFFIX,iyouport.org,TUN
DOMAIN-SUFFIX,j.mp,TUN
DOMAIN-SUFFIX,jable.tv,TUN
DOMAIN-SUFFIX,jan.ai,TUN
DOMAIN-SUFFIX,japanboyz.com,TUN
DOMAIN-SUFFIX,japanhub.net,TUN
DOMAIN-SUFFIX,javten.com,TUN
DOMAIN-SUFFIX,jesor.me,TUN
DOMAIN-SUFFIX,joinclubhouse.com,TUN
DOMAIN-SUFFIX,jspm.io,TUN
DOMAIN-SUFFIX,jtvnw.net,TUN
DOMAIN-SUFFIX,justmysocks.net,TUN
DOMAIN-SUFFIX,kaimeikan.co.jp,TUN
DOMAIN-SUFFIX,kakao.co.kr,TUN
DOMAIN-SUFFIX,kakao.com,TUN
DOMAIN-SUFFIX,kakaocdn.net,TUN
DOMAIN-SUFFIX,kakaocorp.com,TUN
DOMAIN-SUFFIX,kemono.party,TUN
DOMAIN-SUFFIX,kemono.su,TUN
DOMAIN-SUFFIX,kernel.org,TUN
DOMAIN-SUFFIX,kink.com,TUN
DOMAIN-SUFFIX,kinkmen.com,TUN
DOMAIN-SUFFIX,kjcpromo.com,TUN
DOMAIN-SUFFIX,kkbox.com,TUN
DOMAIN-SUFFIX,knowyourmeme.com,TUN
DOMAIN-SUFFIX,ko-shop.com,TUN
DOMAIN-SUFFIX,ko-tube.com,TUN
DOMAIN-SUFFIX,ko-video.com,TUN
DOMAIN-SUFFIX,konami.net,TUN
DOMAIN-SUFFIX,kristenbjorn.com,TUN
DOMAIN-SUFFIX,lbyczf.com,TUN
DOMAIN-SUFFIX,leagueoflegends.com,TUN
DOMAIN-SUFFIX,legra.ph,TUN
DOMAIN-SUFFIX,lexico.com,TUN
DOMAIN-SUFFIX,libreoffice.org,TUN
DOMAIN-SUFFIX,licdn.com,TUN
DOMAIN-SUFFIX,lihkg.com,TUN
DOMAIN-SUFFIX,limbopro.com,TUN
DOMAIN-SUFFIX,line-apps.com,TUN
DOMAIN-SUFFIX,line-cdn.net,TUN
DOMAIN-SUFFIX,line-scdn.net,TUN
DOMAIN-SUFFIX,line.me,TUN
DOMAIN-SUFFIX,linkedin.com,TUN
DOMAIN-SUFFIX,linktr.ee,TUN
DOMAIN-SUFFIX,linux.do,TUN
DOMAIN-SUFFIX,listennotes.com,TUN
DOMAIN-SUFFIX,live-video.net,TUN
DOMAIN-SUFFIX,livedoor.blog,TUN
DOMAIN-SUFFIX,livedoor.jp,TUN
DOMAIN-SUFFIX,lmstudio.ai,TUN
DOMAIN-SUFFIX,localxh2.com,TUN
DOMAIN-SUFFIX,login.steampowered.com,TUN
DOMAIN-SUFFIX,loli.net,TUN
DOMAIN-SUFFIX,lookup-api.apple.com,TUN
DOMAIN-SUFFIX,lpsg.com,TUN
DOMAIN-SUFFIX,ltn.com.tw,TUN
DOMAIN-SUFFIX,lucasentertainment.com,TUN
DOMAIN-SUFFIX,lvv2.com,TUN
DOMAIN-SUFFIX,lwn.net,TUN
DOMAIN-SUFFIX,m.me,TUN
DOMAIN-SUFFIX,mac-forums.com,TUN
DOMAIN-SUFFIX,mac4n6.com,TUN
DOMAIN-SUFFIX,macadmins.software,TUN
DOMAIN-SUFFIX,macbartender.com,TUN
DOMAIN-SUFFIX,machotube.tv,TUN
DOMAIN-SUFFIX,macosbin.com,TUN
DOMAIN-SUFFIX,macosicons.com,TUN
DOMAIN-SUFFIX,macpaw.com,TUN
DOMAIN-SUFFIX,macrumors.com,TUN
DOMAIN-SUFFIX,macsysadmin.se,TUN
DOMAIN-SUFFIX,macupdater-backend.com,TUN
DOMAIN-SUFFIX,macupdater.net,TUN
DOMAIN-SUFFIX,macworld.com,TUN
DOMAIN-SUFFIX,maketecheasier.com,TUN
DOMAIN-SUFFIX,malwarebytes.com,TUN
DOMAIN-SUFFIX,mansurfer.com,TUN
DOMAIN-SUFFIX,massgrave.dev,TUN
DOMAIN-SUFFIX,mastodon.social,TUN
DOMAIN-SUFFIX,matters.news,TUN
DOMAIN-SUFFIX,maxmind.com,TUN
DOMAIN-SUFFIX,me.me,TUN
DOMAIN-SUFFIX,media-amazon.com,TUN
DOMAIN-SUFFIX,medium.com,TUN
DOMAIN-SUFFIX,mega.co.nz,TUN
DOMAIN-SUFFIX,mega.io,TUN
DOMAIN-SUFFIX,mega.nz,TUN
DOMAIN-SUFFIX,men.com,TUN
DOMAIN-SUFFIX,menatplay.com,TUN
DOMAIN-SUFFIX,mennetwork.com,TUN
DOMAIN-SUFFIX,mensrush.tv,TUN
DOMAIN-SUFFIX,merlinblog.xyz,TUN
DOMAIN-SUFFIX,messenger.com,TUN
DOMAIN-SUFFIX,meta.com,TUN
DOMAIN-SUFFIX,mfcdn.jp,TUN
DOMAIN-SUFFIX,mihomo.party,TUN
DOMAIN-SUFFIX,mingpao.com,TUN
DOMAIN-SUFFIX,mingwatch.com,TUN
DOMAIN-SUFFIX,mirrorfiction.com,TUN
DOMAIN-SUFFIX,mirrormedia.mg,TUN
DOMAIN-SUFFIX,missav.ws,TUN
DOMAIN-SUFFIX,mobile01.com,TUN
DOMAIN-SUFFIX,mojim.com,TUN
DOMAIN-SUFFIX,moneydj.com,TUN
DOMAIN-SUFFIX,mothersruin.com,TUN
DOMAIN-SUFFIX,mounty.app,TUN
DOMAIN-SUFFIX,mpweekly.com,TUN
DOMAIN-SUFFIX,msmgtoolkit.in,TUN
DOMAIN-SUFFIX,mushroomtrack.com,TUN
DOMAIN-SUFFIX,musixmatch.com,TUN
DOMAIN-SUFFIX,myfans.jp,TUN
DOMAIN-SUFFIX,mzv.sk,TUN
DOMAIN-SUFFIX,naturalbornbreeders.com,TUN
DOMAIN-SUFFIX,naver.com,TUN
DOMAIN-SUFFIX,naver.jp,TUN
DOMAIN-SUFFIX,netdna-storage.com,TUN
DOMAIN-SUFFIX,newosxbook.com,TUN
DOMAIN-SUFFIX,newtalk.tw,TUN
DOMAIN-SUFFIX,newyorker.com,TUN
DOMAIN-SUFFIX,nextdigital.com.hk,TUN
DOMAIN-SUFFIX,nfblogs.com,TUN
DOMAIN-SUFFIX,nikkei.com,TUN
DOMAIN-SUFFIX,nilsli.com,TUN
DOMAIN-SUFFIX,ninemonsters.com,TUN
DOMAIN-SUFFIX,nitroflare.com,TUN
DOMAIN-SUFFIX,nitter.net,TUN
DOMAIN-SUFFIX,niupic.com,TUN
DOMAIN-SUFFIX,njavtv.com,TUN
DOMAIN-SUFFIX,nnvod.com,TUN
DOMAIN-SUFFIX,nocookie.net,TUN
DOMAIN-SUFFIX,nodeseek.com,TUN
DOMAIN-SUFFIX,notepad-plus-plus.org,TUN
DOMAIN-SUFFIX,notion.so,TUN
DOMAIN-SUFFIX,noxygames.com,TUN
DOMAIN-SUFFIX,nssurge.com,TUN
DOMAIN-SUFFIX,ntdtv.com,TUN
DOMAIN-SUFFIX,nyt.com,TUN
DOMAIN-SUFFIX,nyti.ms,TUN
DOMAIN-SUFFIX,nytimes.com,TUN
DOMAIN-SUFFIX,o3o.ca,TUN
DOMAIN-SUFFIX,o3o.studio,TUN
DOMAIN-SUFFIX,oaistatic.com,TUN
DOMAIN-SUFFIX,oaiusercontent.com,TUN
DOMAIN-SUFFIX,objective-see.org,TUN
DOMAIN-SUFFIX,objectivebythesea.org,TUN
DOMAIN-SUFFIX,offs.ec,TUN
DOMAIN-SUFFIX,ollama.ai,TUN
DOMAIN-SUFFIX,onedrive.com,TUN
DOMAIN-SUFFIX,onedrive.live.com,TUN
DOMAIN-SUFFIX,onlyfans.com,TUN
DOMAIN-SUFFIX,op.gg,TUN
DOMAIN-SUFFIX,openai.com,TUN
DOMAIN-SUFFIX,openstreetmap.org,TUN
DOMAIN-SUFFIX,orange.com,TUN
DOMAIN-SUFFIX,orange.sk,TUN
DOMAIN-SUFFIX,osuinra.com,TUN
DOMAIN-SUFFIX,otokoki.net,TUN
DOMAIN-SUFFIX,ouo.press,TUN
DOMAIN-SUFFIX,outlook.office365.com,TUN
DOMAIN-SUFFIX,overcast.fm,TUN
DOMAIN-SUFFIX,ow.ly,TUN
DOMAIN-SUFFIX,ownimgs.com,TUN
DOMAIN-SUFFIX,page.link,TUN
DOMAIN-SUFFIX,pages.dev,TUN
DOMAIN-SUFFIX,paheal.net,TUN
DOMAIN-SUFFIX,pandafan.pub,TUN
DOMAIN-SUFFIX,paragon-software.com,TUN
DOMAIN-SUFFIX,parallels.com,TUN
DOMAIN-SUFFIX,paypal.com,TUN
DOMAIN-SUFFIX,paypalobjects.com,TUN
DOMAIN-SUFFIX,pdst.fm,TUN
DOMAIN-SUFFIX,peekvids.com,TUN
DOMAIN-SUFFIX,penguinattack.org,TUN
DOMAIN-SUFFIX,perplexity.ai,TUN
DOMAIN-SUFFIX,peterfever.com,TUN
DOMAIN-SUFFIX,phind.com,TUN
DOMAIN-SUFFIX,phncdn.com,TUN
DOMAIN-SUFFIX,phonearena.com,TUN
DOMAIN-SUFFIX,photosex.biz,TUN
DOMAIN-SUFFIX,php.net,TUN
DOMAIN-SUFFIX,phprcdn.com,TUN
DOMAIN-SUFFIX,picstate.com,TUN
DOMAIN-SUFFIX,picturelol.com,TUN
DOMAIN-SUFFIX,pika.page,TUN
DOMAIN-SUFFIX,pincong.rocks,TUN
DOMAIN-SUFFIX,pinimg.com,TUN
DOMAIN-SUFFIX,pixfs.net,TUN
DOMAIN-SUFFIX,pixiv.net,TUN
DOMAIN-SUFFIX,pixnet.cc,TUN
DOMAIN-SUFFIX,pixnet.net,TUN
DOMAIN-SUFFIX,pixxxels.cc,TUN
DOMAIN-SUFFIX,playvid.com,TUN
DOMAIN-SUFFIX,playvids.com,TUN
DOMAIN-SUFFIX,pmang.cloud,TUN
DOMAIN-SUFFIX,podcasts.apple.com,TUN
DOMAIN-SUFFIX,poe.com,TUN
DOMAIN-SUFFIX,poecdn.net,TUN
DOMAIN-SUFFIX,polyfill.io,TUN
DOMAIN-SUFFIX,postimg.cc,TUN
DOMAIN-SUFFIX,pqrs.org,TUN
DOMAIN-SUFFIX,prismic.io,TUN
DOMAIN-SUFFIX,producthunt.com,TUN
DOMAIN-SUFFIX,programmersought.com,TUN
DOMAIN-SUFFIX,project1content.com,TUN
DOMAIN-SUFFIX,proton.me,TUN
DOMAIN-SUFFIX,protonmail.ch,TUN
DOMAIN-SUFFIX,protonmail.com,TUN
DOMAIN-SUFFIX,protonvpn.com,TUN
DOMAIN-SUFFIX,protonweb.com,TUN
DOMAIN-SUFFIX,pscp.tv,TUN
DOMAIN-SUFFIX,pstatic.net,TUN
DOMAIN-SUFFIX,ptt.cc,TUN
DOMAIN-SUFFIX,pttgame.com,TUN
DOMAIN-SUFFIX,pubnub.com,TUN
DOMAIN-SUFFIX,pubu.com.tw,TUN
DOMAIN-SUFFIX,pubu.tw,TUN
DOMAIN-SUFFIX,pximg.net,TUN
DOMAIN-SUFFIX,pypi.org,TUN
DOMAIN-SUFFIX,python.org,TUN
DOMAIN-SUFFIX,queermenow.net,TUN
DOMAIN-SUFFIX,quora.com,TUN
DOMAIN-SUFFIX,quoracdn.net,TUN
DOMAIN-SUFFIX,r18.com,TUN
DOMAIN-SUFFIX,r2.cloudflarestorage.com,TUN
DOMAIN-SUFFIX,ragingstallion.com,TUN
DOMAIN-SUFFIX,raindrop.io,TUN
DOMAIN-SUFFIX,rawfuckclub.com,TUN
DOMAIN-SUFFIX,rawgit.com,TUN
DOMAIN-SUFFIX,rawgit.org,TUN
DOMAIN-SUFFIX,rdtcdn.com,TUN
DOMAIN-SUFFIX,readthedocs.com,TUN
DOMAIN-SUFFIX,readthedocs.org,TUN
DOMAIN-SUFFIX,redd.it,TUN
DOMAIN-SUFFIX,reddit.com,TUN
DOMAIN-SUFFIX,reddithelp.com,TUN
DOMAIN-SUFFIX,redditmedia.com,TUN
DOMAIN-SUFFIX,redditspace.com,TUN
DOMAIN-SUFFIX,redditstatic.com,TUN
DOMAIN-SUFFIX,redtube.com,TUN
DOMAIN-SUFFIX,reuters.com,TUN
DOMAIN-SUFFIX,reutersmedia.net,TUN
DOMAIN-SUFFIX,rfa.org,TUN
DOMAIN-SUFFIX,rgpub.io,TUN
DOMAIN-SUFFIX,rouman5.com,TUN
DOMAIN-SUFFIX,routinehub.co,TUN
DOMAIN-SUFFIX,rte.ie,TUN
DOMAIN-SUFFIX,rtg-endpoint.global.ssl.fastly.net,TUN
DOMAIN-SUFFIX,rthk.hk,TUN
DOMAIN-SUFFIX,rule34video.com,TUN
DOMAIN-SUFFIX,run.app,TUN
DOMAIN-SUFFIX,rurubu.travel,TUN
DOMAIN-SUFFIX,s.team,TUN
DOMAIN-SUFFIX,s3.amazonaws.com,TUN
DOMAIN-SUFFIX,sagernet.org,TUN
DOMAIN-SUFFIX,samsonvideo.tv,TUN
DOMAIN-SUFFIX,santa.dev,TUN
DOMAIN-SUFFIX,sao.dog,TUN
DOMAIN-SUFFIX,sb-cd.com,TUN
DOMAIN-SUFFIX,scdn.co,TUN
DOMAIN-SUFFIX,scmp.com,TUN
DOMAIN-SUFFIX,screenstudioassets.com,TUN
DOMAIN-SUFFIX,scribd.com,TUN
DOMAIN-SUFFIX,scribdassets.com,TUN
DOMAIN-SUFFIX,secretchina.com,TUN
DOMAIN-SUFFIX,securerom.fun,TUN
DOMAIN-SUFFIX,securityweek.com,TUN
DOMAIN-SUFFIX,sentinelone.com,TUN
DOMAIN-SUFFIX,setn.com,TUN
DOMAIN-SUFFIX,shadowsocks.org,TUN
DOMAIN-SUFFIX,shutterstock.com,TUN
DOMAIN-SUFFIX,shuziyimin.org,TUN
DOMAIN-SUFFIX,sideloadly.io,TUN
DOMAIN-SUFFIX,signal.org,TUN
DOMAIN-SUFFIX,singaporepaya.com,TUN
DOMAIN-SUFFIX,singtao.ca,TUN
DOMAIN-SUFFIX,sixyik.com,TUN
DOMAIN-SUFFIX,slack-edge.com,TUN
DOMAIN-SUFFIX,slack-msgs.com,TUN
DOMAIN-SUFFIX,slack.com,TUN
DOMAIN-SUFFIX,sli.do,TUN
DOMAIN-SUFFIX,slideshare.net,TUN
DOMAIN-SUFFIX,slidesharecdn.com,TUN
DOMAIN-SUFFIX,slido.com,TUN
DOMAIN-SUFFIX,sm.ms,TUN
DOMAIN-SUFFIX,smoot.apple.com,TUN
DOMAIN-SUFFIX,snapcdn.app,TUN
DOMAIN-SUFFIX,snapchat.com,TUN
DOMAIN-SUFFIX,snapinsta.to,TUN
DOMAIN-SUFFIX,sndcdn.com,TUN
DOMAIN-SUFFIX,soma-zone.com,TUN
DOMAIN-SUFFIX,soundcloud.com,TUN
DOMAIN-SUFFIX,soundofhope.org,TUN
DOMAIN-SUFFIX,sourceforge.net,TUN
DOMAIN-SUFFIX,south-plus.org,TUN
DOMAIN-SUFFIX,soutong.men,TUN
DOMAIN-SUFFIX,spankbang.com,TUN
DOMAIN-SUFFIX,speakerdeck.com,TUN
DOMAIN-SUFFIX,spiegel.de,TUN
DOMAIN-SUFFIX,spotify.com,TUN
DOMAIN-SUFFIX,spotifycdn.com,TUN
DOMAIN-SUFFIX,springer.com,TUN
DOMAIN-SUFFIX,sqspcdn.com,TUN
DOMAIN-SUFFIX,squarespace-cdn.com,TUN
DOMAIN-SUFFIX,squarespace.com,TUN
DOMAIN-SUFFIX,srd.cx,TUN
DOMAIN-SUFFIX,ssl-images-amazon.com,TUN
DOMAIN-SUFFIX,sstatic.net,TUN
DOMAIN-SUFFIX,stackoverflow.com,TUN
DOMAIN-SUFFIX,stadiamaps.com,TUN
DOMAIN-SUFFIX,statically.io,TUN
DOMAIN-SUFFIX,staticflickr.com,TUN
DOMAIN-SUFFIX,stboy.net,TUN
DOMAIN-SUFFIX,stclairsoft.com,TUN
DOMAIN-SUFFIX,steam-chat.com,TUN
DOMAIN-SUFFIX,steamcommunity.com,TUN
DOMAIN-SUFFIX,steamstatic.com,TUN
DOMAIN-SUFFIX,steamxo.com,TUN
DOMAIN-SUFFIX,steemit.com,TUN
DOMAIN-SUFFIX,steptodown.com,TUN
DOMAIN-SUFFIX,store.steampowered.com,TUN
DOMAIN-SUFFIX,storm.mg,TUN
DOMAIN-SUFFIX,streamable.com,TUN
DOMAIN-SUFFIX,substack.com,TUN
DOMAIN-SUFFIX,suno.ai,TUN
DOMAIN-SUFFIX,surrit.com,TUN
DOMAIN-SUFFIX,suruga-ya.jp,TUN
DOMAIN-SUFFIX,suse.com,TUN
DOMAIN-SUFFIX,suufun.info,TUN
DOMAIN-SUFFIX,swissinfo.ch,TUN
DOMAIN-SUFFIX,t.co,TUN
DOMAIN-SUFFIX,t.me,TUN
DOMAIN-SUFFIX,tagesschau.de,TUN
DOMAIN-SUFFIX,tailscale.dev,TUN
DOMAIN-SUFFIX,taiwangvtujie.com,TUN
DOMAIN-SUFFIX,takashiroom.com,TUN
DOMAIN-SUFFIX,taomm.org,TUN
DOMAIN-SUFFIX,taurine.app,TUN
DOMAIN-SUFFIX,tdesktop.com,TUN
DOMAIN-SUFFIX,techcrunch.com,TUN
DOMAIN-SUFFIX,technews.tw,TUN
DOMAIN-SUFFIX,tele.me,TUN
DOMAIN-SUFFIX,telegra.ph,TUN
DOMAIN-SUFFIX,telegram.me,TUN
DOMAIN-SUFFIX,telegram.org,TUN
DOMAIN-SUFFIX,telesco.pe,TUN
DOMAIN-SUFFIX,tenor.com,TUN
DOMAIN-SUFFIX,terabox.com,TUN
DOMAIN-SUFFIX,terasharelink.com,TUN
DOMAIN-SUFFIX,theage.com.au,TUN
DOMAIN-SUFFIX,theapplewiki.com,TUN
DOMAIN-SUFFIX,theatlantic.com,TUN
DOMAIN-SUFFIX,theepochtimes.com,TUN
DOMAIN-SUFFIX,theguardian.com,TUN
DOMAIN-SUFFIX,theideviceblog.com,TUN
DOMAIN-SUFFIX,theinitium.com,TUN
DOMAIN-SUFFIX,thenewslens.com,TUN
DOMAIN-SUFFIX,thestandnews.com,TUN
DOMAIN-SUFFIX,theverge.com,TUN
DOMAIN-SUFFIX,thisvid.com,TUN
DOMAIN-SUFFIX,threads.com,TUN
DOMAIN-SUFFIX,threads.net,TUN
DOMAIN-SUFFIX,time.com,TUN
DOMAIN-SUFFIX,tingtalk.me,TUN
DOMAIN-SUFFIX,tiny.cc,TUN
DOMAIN-SUFFIX,tinylab.org,TUN
DOMAIN-SUFFIX,tinyurl.com,TUN
DOMAIN-SUFFIX,titanium-software.fr,TUN
DOMAIN-SUFFIX,tobyross.com,TUN
DOMAIN-SUFFIX,torproject.org,TUN
DOMAIN-SUFFIX,trance-video.com,TUN
DOMAIN-SUFFIX,trmm.net,TUN
DOMAIN-SUFFIX,tt1069.com,TUN
DOMAIN-SUFFIX,ttvnw.net,TUN
DOMAIN-SUFFIX,ttwstatic.com,TUN
DOMAIN-SUFFIX,tube8.com,TUN
DOMAIN-SUFFIX,tumblr.com,TUN
DOMAIN-SUFFIX,turboimagehost.com,TUN
DOMAIN-SUFFIX,turboimg.net,TUN
DOMAIN-SUFFIX,tutuis.me,TUN
DOMAIN-SUFFIX,twblogs.net,TUN
DOMAIN-SUFFIX,tweetdeck.com,TUN
DOMAIN-SUFFIX,twimg.co,TUN
DOMAIN-SUFFIX,twimg.com,TUN
DOMAIN-SUFFIX,twimg.org,TUN
DOMAIN-SUFFIX,twinkvideos.com,TUN
DOMAIN-SUFFIX,twitch.tv,TUN
DOMAIN-SUFFIX,twitchcdn.net,TUN
DOMAIN-SUFFIX,twitter.com,TUN
DOMAIN-SUFFIX,twitterstat.us,TUN
DOMAIN-SUFFIX,tx.me,TUN
DOMAIN-SUFFIX,txxx.com,TUN
DOMAIN-SUFFIX,typora.io,TUN
DOMAIN-SUFFIX,ubi.com,TUN
DOMAIN-SUFFIX,udn.com,TUN
DOMAIN-SUFFIX,unpkg.com,TUN
DOMAIN-SUFFIX,unsplash.com,TUN
DOMAIN-SUFFIX,unwire.hk,TUN
DOMAIN-SUFFIX,upload.cc,TUN
DOMAIN-SUFFIX,upmedia.mg,TUN
DOMAIN-SUFFIX,urbandictionary.com,TUN
DOMAIN-SUFFIX,userscontent.net,TUN
DOMAIN-SUFFIX,uupdump.net,TUN
DOMAIN-SUFFIX,v2ex.co,TUN
DOMAIN-SUFFIX,v2ex.com,TUN
DOMAIN-SUFFIX,v2fly.org,TUN
DOMAIN-SUFFIX,v2ray.com,TUN
DOMAIN-SUFFIX,vecpea.com,TUN
DOMAIN-SUFFIX,vercel.app,TUN
DOMAIN-SUFFIX,vercel.com,TUN
DOMAIN-SUFFIX,vero.co,TUN
DOMAIN-SUFFIX,vfactory-web.jp,TUN
DOMAIN-SUFFIX,vice.com,TUN
DOMAIN-SUFFIX,video-delivery.net,TUN
DOMAIN-SUFFIX,vik.im,TUN
DOMAIN-SUFFIX,vimeo.com,TUN
DOMAIN-SUFFIX,vimeocdn.com,TUN
DOMAIN-SUFFIX,vine.co,TUN
DOMAIN-SUFFIX,vk.com,TUN
DOMAIN-SUFFIX,vkuser.net,TUN
DOMAIN-SUFFIX,vmware.com,TUN
DOMAIN-SUFFIX,voachinese.com,TUN
DOMAIN-SUFFIX,voanews.com,TUN
DOMAIN-SUFFIX,vox-cdn.com,TUN
DOMAIN-SUFFIX,voxmedia.com,TUN
DOMAIN-SUFFIX,vsco.co,TUN
DOMAIN-SUFFIX,vscode-unpkg.net,TUN
DOMAIN-SUFFIX,vultr.com,TUN
DOMAIN-SUFFIX,w3cub.com,TUN
DOMAIN-SUFFIX,wa.me,TUN
DOMAIN-SUFFIX,wainao.me,TUN
DOMAIN-SUFFIX,wallhaven.cc,TUN
DOMAIN-SUFFIX,wallroom.io,TUN
DOMAIN-SUFFIX,washingtonpost.com,TUN
DOMAIN-SUFFIX,washingtontimes.com,TUN
DOMAIN-SUFFIX,washtimes.com,TUN
DOMAIN-SUFFIX,waybig.com,TUN
DOMAIN-SUFFIX,wdfiles.com,TUN
DOMAIN-SUFFIX,weatherspark.com,TUN
DOMAIN-SUFFIX,webmediaproz.com,TUN
DOMAIN-SUFFIX,websim.com,TUN
DOMAIN-SUFFIX,weebly.com,TUN
DOMAIN-SUFFIX,weishu.me,TUN
DOMAIN-SUFFIX,wenxuecity.com,TUN
DOMAIN-SUFFIX,whatsapp.com,TUN
DOMAIN-SUFFIX,whatsapp.net,TUN
DOMAIN-SUFFIX,whatscap.com,TUN
DOMAIN-SUFFIX,whvn.cc,TUN
DOMAIN-SUFFIX,wikia.com,TUN
DOMAIN-SUFFIX,wikibooks.org,TUN
DOMAIN-SUFFIX,wikidot.com,TUN
DOMAIN-SUFFIX,wikileaks.org,TUN
DOMAIN-SUFFIX,wikimedia.org,TUN
DOMAIN-SUFFIX,wikinews.org,TUN
DOMAIN-SUFFIX,wikipedia.org,TUN
DOMAIN-SUFFIX,wikiquote.org,TUN
DOMAIN-SUFFIX,wikisource.org,TUN
DOMAIN-SUFFIX,wikiwand.com,TUN
DOMAIN-SUFFIX,wiktionary.org,TUN
DOMAIN-SUFFIX,winehq.org,TUN
DOMAIN-SUFFIX,winudf.com,TUN
DOMAIN-SUFFIX,wixstatic.com,TUN
DOMAIN-SUFFIX,wnu.com,TUN
DOMAIN-SUFFIX,wojciechregula.blog,TUN
DOMAIN-SUFFIX,wordpress.com,TUN
DOMAIN-SUFFIX,workers.dev,TUN
DOMAIN-SUFFIX,worldjournal.com,TUN
DOMAIN-SUFFIX,wp.com,TUN
DOMAIN-SUFFIX,wsj.com,TUN
DOMAIN-SUFFIX,wsj.net,TUN
DOMAIN-SUFFIX,x.ai,TUN
DOMAIN-SUFFIX,x.com,TUN
DOMAIN-SUFFIX,xhamster.com,TUN
DOMAIN-SUFFIX,xhcdn.com,TUN
DOMAIN-SUFFIX,xkcd.com,TUN
DOMAIN-SUFFIX,xtube.com,TUN
DOMAIN-SUFFIX,xvideos-cdn.com,TUN
DOMAIN-SUFFIX,xvideos.com,TUN
DOMAIN-SUFFIX,xvideos.red,TUN
DOMAIN-SUFFIX,yadro.ru,TUN
DOMAIN-SUFFIX,yandex.com,TUN
DOMAIN-SUFFIX,yandex.net,TUN
DOMAIN-SUFFIX,yandex.ru,TUN
DOMAIN-SUFFIX,yasuha.co.jp,TUN
DOMAIN-SUFFIX,ycombinator.com,TUN
DOMAIN-SUFFIX,yimg.com,TUN
DOMAIN-SUFFIX,yinwang.org,TUN
DOMAIN-SUFFIX,yitianshijie.net,TUN
DOMAIN-SUFFIX,youjizz.com,TUN
DOMAIN-SUFFIX,yourdictionary.com,TUN
DOMAIN-SUFFIX,youtu.be,TUN
DOMAIN-SUFFIX,youtube-nocookie.com,TUN
DOMAIN-SUFFIX,ypncdn.com,TUN
DOMAIN-SUFFIX,yt.be,TUN
DOMAIN-SUFFIX,ytimg.com,TUN
DOMAIN-SUFFIX,zaobao.com.sg,TUN
DOMAIN-SUFFIX,zbuckz.com,TUN
DOMAIN-SUFFIX,zdassets.com,TUN
DOMAIN-SUFFIX,zdf.de,TUN
DOMAIN-SUFFIX,zendesk.com,TUN
DOMAIN-SUFFIX,zhina.wiki,TUN
DOMAIN-SUFFIX,zuo.la,TUN
DOMAIN,cdn.arstechnica.net,TUN
DOMAIN,cdn.cms-twdigitalassets.com,TUN
DOMAIN,cdn.fluidplayer.com,TUN
DOMAIN,cdn.jsdelivr.net,TUN
DOMAIN,cdn.jwplayer.com,TUN
DOMAIN,cdn.mozilla.net,TUN
DOMAIN,cdn.paddle.com,TUN
DOMAIN,cdn.serif.com,TUN
DOMAIN,cdn.uploads.micro.blog,TUN
DOMAIN,medium.cloudflareaccess.com,TUN
IP-CIDR,1.1.1.1/32,TUN,no-resolve
IP-CIDR,149.154.160.0/20,TUN,no-resolve
IP-CIDR,185.76.151.0/24,TUN,no-resolve
IP-CIDR,5.28.192.0/18,TUN,no-resolve
IP-CIDR,91.105.192.0/23,TUN,no-resolve
IP-CIDR,91.108.16.0/21,TUN,no-resolve
IP-CIDR,91.108.4.0/22,TUN,no-resolve
IP-CIDR,91.108.56.0/22,TUN,no-resolve
IP-CIDR,91.108.8.0/21,TUN,no-resolve
IP-CIDR,95.161.64.0/20,TUN,no-resolve